.container {
    width: 100%;
}
page {
  background-color: #e3eff9;
}
.page{
	background-color: #e3eff9;
	padding: 30rpx;
}
.no-order {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 88rpx;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 203rpx;
    background-color: #f2f2f2;
}
.padding{
	padding: 16rpx 20rpx;
}
.match-list{
	margin-top: 40rpx;
}
.match-item{
	padding: 30rpx;
	background-color: white;
	border-radius: 20rpx;
	margin-bottom: 20rpx;
	box-shadow: 0 4rpx 10rpx 0 rgba(0,0,0,0.3);
}
.match-title{
	display: flex;
	align-items: center;
	color: #989ea5;
}
.match-title view {
	flex: 1;
}
.match-info{
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 30rpx;
}
.match-info view{
	flex: 1;
}
.match-info image{
	width: 60rpx;
	height: 60rpx;
}
.match-name{
	font-weight: bolder;
	margin-top: 10rpx;
}
.match-tag{
	color: #4792dc;
	padding: 10rpx 15rpx;
	margin-right: 20rpx;
	border-radius: 10rpx;
	background-color: #e2f3fc;
	font-size: 28rpx;
}
.match-reason{
	background-color: #fafafa;
	border-radius: 20rpx;
	padding: 20rpx;
	color: #989ea5;
	margin-top: 20rpx;
}
.expert-stat{
	background-color: #fafafa;
	padding: 30rpx;
	border-radius: 20rpx;
	display: flex;
	margin-bottom: 40rpx;
}
.expert-stat view {
	flex: 1;
	text-align: center;
}
.expert-stat text{
	color: #378c3a;
	font-weight: bolder;
	font-size: 40rpx;
}
.expert-stat-item view{
	margin-top: 10rpx;
	color: #989ea5;
	font-size: 30rpx;
}
.match-btn{
	text-align: center;
	margin-top: 40rpx;
	margin-bottom: 20rpx;
}
.match-lock-btn{
	background-color: #e2f3fc;
	padding: 14rpx 40rpx;
	border-radius: 50rpx;
	color: #4792dc;
}
.notice-popup-content{
	padding: 40rpx;
	width: 300px;
	height: 170px;
	border-radius: 20rpx;
	background-color: white;
}
.pay-notice-content{
	padding: 30rpx;
	text-align: center;
}
.notice-option{
	display: flex;
	gap: 40rpx;
}
.notice-option-item{
	flex: 1;
	border-radius: 40rpx;
	color: white;
	padding: 20rpx;
	font-size: 30rpx;
	text-align: center;
	margin-top: 40rpx;
}


.game-content{
	margin-top: 30rpx;
}

.game-item{
	background-color: #fff;
	padding: 30rpx;
	margin-bottom: 20rpx;
	border-radius: 30rpx;
}
.game-league{
	font-size: 22rpx;
	background-color: #e0f2fa;
	width: 100rpx;
	color: #0b9bde;
	padding: 10rpx 20rpx;
	text-align: center;
	border-radius: 30rpx;
	border: 1px solid #9fc3d8;
}
.game-cjhx-tag{
	font-size: 22rpx;
	background-color: #f8a011;
	width: 100rpx;
	color: #fff;
	padding: 10rpx 20rpx;
	text-align: center;
	border-radius: 30rpx;
}
.game-result-tag{
	font-size: 22rpx;
	width: 100rpx;
	color: #fff;
	padding: 10rpx 20rpx;
	text-align: center;
	border-radius: 30rpx;
}
.game-result-success{
	background-color: #10a977;
}
.game-result-error{
	background-color: #e93634;
}
.game-result-he{
	background-color: #f2f4fa;
}
.game-info{
	margin-left: 10rpx;
	font-size: 20rpx;
	padding: 10rpx 20rpx;
	border: 1px solid #9fc3d8;
	border-radius: 30rpx;
	color: #0b9bde;
	background-color: #e0f2fa;
}
.game-item-content{
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 30rpx;
	margin-top: 10rpx;
	margin-bottom: 30rpx;
	padding: 40rpx 20rpx;
	border-bottom: 1px solid #f4f6fc;
}
.game-item-content view{
	flex: 1;
}
.game-item-title-right{
	float: right;
}
.game-item-title-right text{
	margin-left: 5px;
}
.game-team{
	font-size: 32rpx;
	font-weight: bolder;
	image{
		width: 50rpx;
		height: 50rpx;
	}
}

.game-date{
	color: #aeaeae;
}
.game-date image{
	width: 36rpx;
	height: 36rpx;
	vertical-align: sub;
	margin-right: 10rpx;
}
.game-option{
}
.game-vs{
	font-size: 30rpx;
	font-weight: bolder;
}
.game-item-vs{
	background-color: #f2f4fa;
	padding: 20rpx;
	border: 1px solid #e4e9f0;
	color: #9aa1b5;
	border-radius: 50%;
}
.game-fx{
	line-height: 60rpx;
	color: #aeaeae;
	font-size: 24rpx;
}
.game-btn{
	padding: 18rpx 30rpx;
	border-radius: 20rpx;
	font-size: 30rpx;
	float: right;
	color: white;
}
.game-item-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.game-item-bottom view{
	flex: 1;
}
